h1{
  color: black;
  font-size: 50px;
}
.count{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin:  auto;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.btn{
  display: flex;
  gap: 10px;
}
button{
  border: 1px solid black;
}