 body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
   background: linear-gradient(to right, #1d96f2, #629eff);
  color: white;
  font-family: Arial, sans-serif;
}
h1{
  color: black;
  font-size: 50px;
}
.header{
  display: flex;
  color: white;
  font-size: 30px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100vw; 
}
h4{
  margin: 13px 15px;
  color: #1d96f2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: start;
  padding: 5px;
}
.btn{
  z-index: 1000;
  color: white;
  background: #1d96f2;
  border-radius: 20px;
  border: 1px solid #1d96f2;
  padding: 10px;
  margin-left: -55px;
  outline: rgb(241, 109, 61);
}
input{
  margin: 10px 15px;
  outline: none;
  padding: 8px;
  border: 1px solid rgb(128, 128, 128, 0.2);
  height: 20px;
  border-radius: 20px;
  width: 260px;
  background-color: rgb(128, 128, 128, 0.1);
}
.task{
  color: black;
  display: flex;
  flex-direction: column;
  max-width: 360px;
  background: white;
  border-radius: 10px;
  margin:  auto;
  justify-content: start;
  min-height: 70vh;
  box-shadow: 0 14px 6px rgba(36, 36, 36, 0.1);
}
.taskin{
  display: flex;
  align-items: center;
  gap: 0;
  margin-top: -20px;
}
.btns{
  display: flex;
  align-items: center;
}
.deletebtn{
  border: transparent;
  background: transparent;
}
.trash{
  color: #1d96f2;
}
.complete{
  border-radius: 50%;
  border: transparent;
  padding: 10px;
  color: white;
  width: 10px;
  height: 10px;
  margin: 5px;
}
.list{
  border: transparent;
  border-radius: 8px;
  border-left: 3px solid  #1d96f2;
  background: rgb(128, 128, 128, 0.1);
  color: black;
  display: flex;
  padding: 10px 5px;
  margin: 5px auto; 
  justify-content: space-between;
  align-items: center;
}
.todolist{
  padding: 10px;
  margin: -15px 5px;
}
.check{
  opacity: 0.5;
}
@media (min-width: 768px) {
  .task{
    min-height: 60vh;
  }
}
@media (min-width: 1000px) {
  .task{
    min-height: 70vh;
  }
}